/* ======================================================================
                         COLORS
========================================================================= */
/*

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

*/
@import url("http://fonts......");
/* ======================================================================
                         Mixins
========================================================================= */
/* ======================================================================
                        GENERAL STYLES
========================================================================= */
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  height: 100%; }

html {
  height: 100%; }

main {
  min-height: 100%;
  margin-top: 4.250em; }

.contact-body {
  height: auto; }

.highlight-light {
  color: #19b5fe; }

.highlight-dark {
  color: blue; }

.btn {
  background-color: #000; }

.tab-space {
  display: inline-block;
  min-width: 6.5rem;
  padding: 0;
  margin: 0; }

body {
  background-color: #181818; }

/* ======================================================================
                        DESKTOPS
========================================================================= */
@media (min-width: 992px) {
  main {
    margin-top: 4.250em; } }
/* ======================================================================
                         FOOTER
========================================================================= */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding-top: 2rem;
  margin-top: 2rem; }
  footer h2 {
    color: #19b5fe; }
  footer .navbar {
    height: 10rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0; }

a.social {
  display: inline-block;
  text-indent: -9999px;
  opacity: .4;
  transition: opacity .5s;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  margin-left: 1rem;
  margin-right: 1rem; }
  a.social:hover {
    opacity: 1; }
a.twitter {
  background-image: url("../svgs/twitter.svg");
  background-repeat: no-repeat; }
a.linkedin {
  background-image: url("../svgs/linkedin.svg");
  background-repeat: no-repeat; }
a.github {
  background-image: url("../svgs/github.svg");
  background-repeat: no-repeat; }

.gmail {
  color: #fff; }

/* ======================================================================
                        NAVIGATION
========================================================================= */
nav {
  background-color: #000; }

/* COLOR OF THE NAV LINKS */
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.5rem;
  color: #19b5fe; }

/* COLOR OF THE NAV LINKS > ON HOVER */
.navbar-dark .navbar-nav .nav-link:hover {
  color: #c5edfa; }

/* COLOR OF THE NAV LINKS > ON FOCUS/CLICK*/
.navbar-dark .navbar-nav .nav-link:focus {
  color: #1986ba; }

/* COLOR OF THE NAME*/
.navbar-dark .navbar-brand {
  color: #19b5fe; }

/* CURRENT PAGE */
#currentPage {
  color: #fff; }

nav .container {
  padding-left: 0;
  margin-left: 0; }

.navbar-brand {
  margin: 0 auto; }

/* PROPERLY CENTERING NAVIGATION */
#name {
  padding-right: 3.5em; }

@media (min-width: 992px) {
  /* PROPERLY CENTERING NAVIGATION */
  #navbarNavAltMarkup {
    padding-right: 8.5em; }

  /* PROPERLY CENTERING NAVIGATION */
  #name {
    padding-right: 0; }

  /* COLOR OF THE NAV LINKS */
  .navbar-dark .navbar-nav .nav-link {
    color: #19b5fe; }

  /* COLOR OF THE NAV LINKS > ON HOVER */
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #d4cfcf; }

  /* COLOR OF THE NAME*/
  .navbar-dark .navbar-brand {
    color: #fff;
    margin-left: 3rem; }

  /* CURRENT PAGE */
  #currentPage {
    color: #fff; }

  #navbarNavAltMarkup {
    justify-content: center;
    align-self: center;
    width: 31.250em; }

  #nav-container {
    justify-content: space-between; } }
/* ======================================================================
                         HOME PAGE
========================================================================= */
#home-main {
  background-image: url("../images-backgrounds/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 3.5rem;
  height: 100%; }

#home-footer,
#portfolio-footer {
  margin-top: 0; }

#home-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: calc(100% - 4.25em);
  max-height: calc(100% - 4.25em;);
  margin-top: 0;
  padding-top: 8.25rem; }
  #home-main h1 {
    color: #fff;
    font-weight: 900;
    font-size: 2.5rem; }
  #home-main h2 {
    color: #fff;
    margin-top: 2rem; }
  #home-main a {
    text-decoration: none;
    color: #19b5fe; }
  #home-main #this-way {
    background-color: #000;
    border-color: #fff;
    border-width: 2px;
    border-radius: 0.5rem; }
    #home-main #this-way:hover {
      background-color: #181818;
      border-color: #19b5fe; }

.notification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  opacity: 0.85;
  font-size: 0.9em;
  width: 17rem;
  color: #000;
  background-color: #19b5fe;
  border-radius: 5px;
  padding: 0.75em;
  margin: 1em;
  margin-top: 2rem; }
  .notification p {
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
    margin: auto; }

.notification-close {
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  padding-left: 0.25em; }

/* ======================================================================
                        DESKTOPS
========================================================================= */
@media (min-width: 992px) {
  #home-main,
  #portfolio-main {
    height: auto;
    margin-top: 4.25rem; }

  #home-footer,
  #portfolio-footer {
    margin-top: 0; }

  #home-main {
    height: calc(100% - 4.25em);
    max-height: calc(100% - 4.25em;);
    margin-top: 0;
    padding-top: 14.25rem; }
    #home-main h1 {
      font-weight: 900;
      font-size: 3rem; }
    #home-main h2 {
      margin-top: 2rem; }
    #home-main #this-way {
      border-width: 2px; }

  .notification {
    width: 40rem;
    margin: 1.5em;
    margin-top: 5rem; } }
/* ======================================================================
                         PORTFOLIO PAGE
========================================================================= */
#portfolio-main {
  height: auto;
  background-color: #000;
  margin-top: 3.5rem; }

#portfolio-container {
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 0; }

.portfolio {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin-top: 2rem; }
  .portfolio p {
    color: #fff;
    margin-bottom: 0.5rem; }
  .portfolio h2 {
    color: #19b5fe; }
    .portfolio h2:not(:first-of-type) {
      font-size: 1.3rem;
      margin-bottom: 0.25rem; }
  .portfolio img {
    width: 100%;
    max-width: 100%;
    background-color: #000;
    border: 10px solid #fff;
    border-color: #01356e;
    border-radius: 5px;
    padding: 0.625rem; }

.project-name {
  font-size: 1.5rem;
  padding-top: 0;
  padding-bottom: 0.5rem; }

.check-me,
.files {
  display: inline-flex;
  padding-top: 0.5rem;
  padding-bottom: 0;
  margin: 0 auto; }

.files {
  padding-top: 0;
  padding-bottom: 1rem; }

.note {
  color: red; }

/* ======================================================================
                        TABLETS
========================================================================= */
@media (min-width: 769px) {
  #portfolio-main {
    padding-top: 3rem; }

  #portfolio-container {
    padding-bottom: 10rem; }

  .portfolio {
    display: block;
    height: 38rem;
    max-width: 45%;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem; }
    .portfolio img {
      border: 15px solid #3e2b14;
      border-color: #01356e;
      border-radius: 5px;
      padding: 1.25rem; }

  .project-9,
  .project-10 {
    height: 49.375rem; }

  .project-name {
    font-size: 1.5rem; }

  .check-me,
  .files {
    display: inline-flex;
    padding-top: 0.5rem;
    padding-bottom: 0;
    margin: 0; }

  .files {
    padding-top: 0;
    padding-bottom: 1rem; }

  .check-me {
    margin-right: 2.2rem; } }
/* ======================================================================
                        DESKTOPS
========================================================================= */
@media (min-width: 992px) {
  #portfolio-main {
    padding-top: 5rem; }

  #portfolio-container {
    padding-bottom: 6rem; }

  .portfolio {
    height: 44.375rem;
    max-width: 28%;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem; }
    .portfolio img {
      width: 100%;
      max-width: 100%;
      background-color: #000;
      border: 15px solid #3e2b14;
      border-color: #01356e;
      border-radius: 5px;
      padding: 1.25rem; }

  .project-name {
    font-size: 2rem; }

  .check-me {
    margin-right: 13.9rem; }

  #project-13 {
    height: auto; }

  #project-14,
  #project-15 {
    align-self: flex-start; } }
/* ======================================================================
                         ABOUT PAGE
========================================================================= */
#about-main {
  margin-top: 6rem;
  padding-left: 0;
  padding-right: 0; }

.about-h {
  color: #19b5fe;
  font-size: 1.46rem;
  margin-bottom: 1rem; }

.about-p {
  max-width: 90%;
  width: 90%; }
  .about-p a {
    text-decoration: none; }

#contact-info .container-fluid.about-container,
#about-info .container-fluid.about-container {
  justify-content: center;
  align-items: flex-start; }

.about-me {
  text-align: center; }

/* ======================================================================
                        DESKTOPS
========================================================================= */
@media (min-width: 992px) {
  #about-main {
    height: auto;
    background-color: #000;
    margin-top: 10rem; }

  .about-h {
    color: #19b5fe;
    font-size: 2.5rem; }

  .about-p {
    width: 90%;
    max-width: 90%; }
    .about-p a {
      text-decoration: none; }

  .about-container {
    align-items: flex-start; } }
/* ======================================================================
                         CONTACT PAGE
========================================================================= */
#contact-main {
  padding-left: 0;
  padding-right: 0;
  margin-top: 6rem; }

#contact-info,
#about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  color: #fff;
  background-color: #000;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto; }

#contact-info .container-fluid,
#about-info .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem; }

#contact-info .container,
#about-info .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0; }

.location {
  font-size: 0.95rem; }

.contact-h {
  color: #19b5fe;
  font-size: 1.5rem; }
.contact-email {
  color: #19b5fe;
  margin-bottom: 0.5rem; }
.contact-gmail {
  color: #fff;
  font-size: 1.5rem; }
.contact-social {
  color: #19b5fe;
  margin-top: 1rem;
  margin-bottom: 1rem; }
.contact-default {
  color: #fff; }
  .contact-default:hover {
    color: #19b5fe;
    text-decoration: none; }
  .contact-default span {
    color: #19b5fe;
    font-size: 1.35rem; }

.container .social {
  opacity: 1; }

.container .social:hover {
  opacity: 0.65; }

/* ======================================================================
                        DESKTOPS
========================================================================= */
@media (min-width: 992px) {
  #contact-main {
    margin-top: 10rem; }

  #contact-info,
  #about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    color: #fff;
    background-color: #000;
    margin: 0 auto; }

  #contact-info .container-fluid,
  #about-info .container-fluid {
    display: flex;
    flex-direction: row;
    margin-top: 4rem; }

  #contact-info .container,
  #about-info .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 50%;
    margin: 0; }

  .contact-h {
    color: #19b5fe;
    font-size: 2.5rem; }
  .contact-email {
    margin-bottom: 2rem; }
  .contact-gmail {
    margin-bottom: 0.5rem; }
  .contact-social {
    margin-top: 0rem;
    margin-bottom: 2rem; }

  .location {
    font-size: 1rem; } }
/*
// BEM

.nav
.nav__item
.nav__item--current

.list
.list__item
.list__item--highlight
.list__item--end

.form
.form__label
.form__input
.form__btn

.btn--info

*/
/*
// SMACSS
With SMACSS, we divide our styles into fives categories:
  base
  layout
  modules
  states
  themes.
Each of these categories come with a set of usage rules.
=> First, the Base rules define what elements look like by default.
 That's where we write the CSS reset styles and the default styles for element selectors.
=> In the Layout rules, we define layout styles for major sections of the page. For instance, the header, footer, sidebar, or grid.
=> The Modules rules make up the majority of our project styles. That's where we write styles for each module as standalone, reusable components. We've already been doing a good job with modules using m.
=> The States rules is where we define styles for element states. For example, the hidden, active, collapsed or expanded states of a module.
=> The Themes rules define different colors and images to give our project a different theme. Now, theme rules are usually optional.

*/
/*
CSS Output Styles
sass --watch scss:css --style nested         => DEFAULT
sass --watch scss:css --style expanded
sass --watch scss:css --style compressed
sass --watch scss:css --style compact
*/
/*

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

*/

/*# sourceMappingURL=styles.css.map */
