/* ======================================================================
                        GENERAL STYLES
========================================================================= */
* {
  box-sizing: border-box;
}
html {
  /*height: 100%;*/
}
body {
  font-family: 'Roboto', sans-serif;
  /*min-height: 100%;*/
  /*min-height: 100vh;*/
  height: 100%;
  /*height: 100vh;*/
}
html {
  height: 100%;
  /*height: 100vh;*/
}
main {
  min-height: 100%;
  /*height: 100vh;*/
}
.contact-html {

}
.contact-body {
  height: auto;
}
#contact-main {

}
.highlight-light {
  color: #19b5fe;
}
.highlight-dark {
  color: #007bff;
}
.btn {
  background-color:  #19b5fe;
  background-color: #007bff;
}
.tab-space {
  /*margin-right: 0.5rem;*/
  display: inline-block;
  margin: 0;
  padding: 0;
  /*padding-right: 0.5rem;*/
  /*padding-right: 1rem;*/
  min-width: 5.7rem;
  min-width: 6.5rem;
}
/* ======================================================================
                        NAVIGATION
========================================================================= */
nav {
  background-color: black;
}
/* COLOR OF THE NAV LINKS */
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.5rem;
  color: #19b5fe;
  /*color: #1e90ff;*/
  /*color: #4874f7;*/
}
/* COLOR OF THE NAV LINKS > ON HOVER */
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  color: #494949;
  color: #1986ba;
}
/* COLOR OF THE NAV LINKS > ON FOCUS/CLICK*/
.navbar-dark .navbar-nav .nav-link:focus {
  color: #1986ba;
}
/* COLOR OF THE NAME*/
.navbar-dark .navbar-brand {
  color: #19b5fe;
}
/* CURRENT PAGE */
#currentPage {
  color: #1986ba;
}
nav .container {
  padding-left: 0em;
  margin-left: 0em;
}
.navbar-brand {
  margin: 0 auto;
}
/* ======================================================================
                         CONTENT
========================================================================= */
main {
  /*height: 100%;*/
  margin-top: 68px;
  margin-top: 4.250em;
}
.container-fluid {
  /*height: 100%;*/
}
/* ======================================================================
                         FOOTER
========================================================================= */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;

  padding-top: 2rem;
  margin-top: 2rem;
}
footer h2 {
  color: #19b5fe;
  /*align-self: center;*/
}
.gmail {
  color: white;
  /*align-self: center;*/
}
footer .navbar {
  height: 10rem;
  padding-bottom: 2rem;

  padding-left: 0;
  padding-right: 0;
}
a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: opacity .5s;

  /*padding: 0 4rem;*/
  margin-left: 1rem;
  margin-right: 1rem;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
}
a.twitter {
  background-image: url(svgs/twitter.svg);
  background-repeat: no-repeat;
}
a.linkedin {
  background-image: url(svgs/linkedin.svg);
  background-repeat: no-repeat;
}
a.github {
  background-image: url(svgs/github.svg);
  background-repeat: no-repeat;
}
a.social:hover {
  opacity: 1;
}
/*.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}*/
/* ======================================================================
                         HOME PAGE
========================================================================= */
#home-html {

}
#home-body {

}
#home-main {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  height: auto;

  /*margin-top: 5rem;*/
  margin-top: 3.5rem;
}
#home-footer,
#portfolio-footer {
  margin-top: 0;
}
#home-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  padding-top: 5rem;
  padding-top: 4rem;
}
#home-main h1 {
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
  /*font-size: 4rem;*/
}
#home-main h2 {
  color: white;
  margin-top: 2rem;
}
#home-main #this-way {
  /*cursor: pointer;*/
  background-color: #19b5fe;
  background-color: black;
  border-color: white;
  /*border-color: black;*/
  /*border-color: #19b5fe;*/
  border-width: 2px;
  /*margin-top: 1rem;*/

  /*border-radius: 50%;*/
  /*border-radius: 40%;*/
  border-radius: 0.5rem;
}
#home-main #this-way:hover {
  background-color: #181818;
  /*border-radius: 50%;*/
  /*border-color: black;*/
  border-color: #19b5fe;
}
#home-main a {
  text-decoration: none;
  color: black;
  color: #19b5fe;

  /*height: 100%;*/
  /*width: 100%;*/
  /*padding: 0.6rem 1.5rem;*/
}
#home-main a:hover {

}
#home-main .notification {
  text-align: left;
}

/* TEST */
.notification {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  opacity: 0.85;
  color: white;
  color: black;
  background-color: #615fd0;
  background-color: #19b5fe;
  border-radius: 5px;

  padding: 0.75em;
  margin: 1em;

  /* TESTING */
  /*min-width: 20%;*/
  width: 17rem;
  margin-top: 2rem;

  justify-content: center;
  align-items: center;
}
.notification p {
  margin: auto;
  /*width: 100%;*/
  font-size: 1.3rem;
  font-weight: 900;

  cursor: pointer;
}
.notification-close {
  font-weight: bold;
  font-size: 22px;
  /*font-size: 1.3rem;*/
  /*font-size: 1.423rem;*/
  line-height: 20px;
  cursor: pointer;

  padding-left: 0.25em;
  /*margin-left: auto;*/
}
.notification {
  /*padding-right: 10rem;*/
}
.close {
  /*margin-left: auto;*/
}

/* ======================================================================
                         PORTFOLIO PAGE
========================================================================= */
#portfolio-main {
  /*background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
  height: 100%;
  height: auto;
  margin-top: 3.5rem;

  background-color: black;
}
#portfolio-container {
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.portfolio {
  max-width: 90%;
  margin-top: 2rem;

  /*color: white;*/
  /*background-color: red;*/
}
#portfolio-container .portfolio img {
  max-width: 100%;
  width: 100%;
}
#portfolio-main {
  /*padding-top: 0rem;*/
  /*padding-bottom: 30rem;*/
  /*margin-bottom: 20rem;*/
}
.portfolio h2 {
  color: #19b5fe;
}
.portfolio h2:first-of-type {
  padding-top: 1rem;
}
.portfolio p {
  color: white;
}

/* ======================================================================
                         CONTACT PAGE
========================================================================= */
#contact-main {
  margin-top: 6rem;
  padding-left: 0;
  padding-right: 0;
}
#contact-info,
#about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  color: white;
  background-color: black;

  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
#contact-info .container-fluid,
#about-info .container-fluid {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
}
#contact-info .container,
#about-info .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0;

  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}
.contact-h {
  color: #19b5fe;
  font-size: 1.5rem;
}
.location {
  font-size: 0.95rem;
}
.contact-email,
.contact-social {
  color: #19b5fe;
}
.contact-email {
  margin-bottom: 0.5rem;
}
.contact-social {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contact-gmail {
  font-size: 1.5rem;
}
.contact-default {
  color: white;
}
.contact-default:hover {
  color: #19b5fe;
  text-decoration: none;
}
.contact-default span {
  color: #19b5fe;
  font-size: 1.35rem;
}
.container .social {
  opacity: 1;
}
.container .social:hover {
  opacity: 0.65;
}
.container .github {
  /*margin-right: 0;*/
}
/* ======================================================================
                         ABOUT PAGE
========================================================================= */
.about-h {
  color: #19b5fe;
  font-size: 1.46rem;
  margin-bottom: 1rem;
}
.about-p {
  max-width: 40rem;
  max-width: 90%;
  width: 90%;
  /*text-align: left;*/
  /*align-self: flex-start;*/
}
.about-p a {
  text-decoration: none;
}
#contact-info .container-fluid.about-container,
#about-info .container-fluid.about-container {
  justify-content: center;
  align-items: flex-start;
}
#about-info {
  /*margin-bottom: 4rem;*/
}
.about-me {
  text-align: center;
}

/* ======================================================================
                        TABLETS
========================================================================= */
@media (min-width: 768px) {
  /**/
  .portfolio {
    max-width: 40%;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .portfolio:nth-child(odd) {
    /*margin-right: 2rem;*/
  }
}

/* ======================================================================
                        DESKTOPS
========================================================================= */
@media (min-width: 992px) {
  /* COLOR OF THE NAV LINKS */
  .navbar-dark .navbar-nav .nav-link {
    color: #19b5fe;
    /*color: #1e90ff;*/
    /*color: #4874f7;*/
  }
  /* COLOR OF THE NAV LINKS > ON HOVER */
  .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    color: #494949;
    color: #1986ba;
  }
  /* COLOR OF THE NAME*/
  .navbar-dark .navbar-brand {
    color: white;
    margin-left: 3rem;
  }
  /* CURRENT PAGE */
  #currentPage {
    color: #1986ba;
  }

  /* >>>>> NAVIGATION <<<<< */
  nav .navbar-collapse {
    /*justify-content: center;*/
    /*color: #19b5fe;*/
  }
  .navbar-toggler-icon {
    /*color: white;*/
  }

  #navbarNavAltMarkup {
    /*width: auto;*/
    /*width: 200px;*/
    width: 31.250em;
    /*width: auto;*/
    align-self: center;
    justify-content: center;
  }

  main {
    margin-top: 68px;
    margin-top: 4.250em;
  }

  /* NEW */
  #links-container {
    /*align-self: center;*/
  }
  #nav-container {
    justify-content: space-between;
  }

  #portfolio-container {
    padding-bottom: 6rem;
  }
  .portfolio {
    max-width: 25%;
    margin-top: 2rem;

    margin-left: 3rem;
    margin-right: 3rem;
  }



  /* ======================================================================
                           HOME PAGE
  ========================================================================= */
  #home-html {

  }
  #home-body {

  }
  #home-main,
  #portfolio-main {
    height: 100%;
    height: auto;
    margin-top: 4.25rem;
  }
  #home-footer,
  #portfolio-footer {
    margin-top: 0;
  }
  #home-main,
  #portfolio-main {
    padding-top: 10rem;
  }
  #home-main h1 {
    font-weight: 900;
    font-size: 3rem;
  }
  #home-main h2 {
    margin-top: 2rem;
  }
  #home-main #this-way {
    border-width: 2px;
    /*margin-top: 1rem;*/
  }
  #home-main #this-way:hover {

  }
  #home-main a {

  }
  #home-main a:hover {

  }
  /* TEST */
  .notification {
    margin: 1.5em;
    /* TESTING */
    width: 40rem;
    margin-top: 5rem;
    /*margin-top: 10rem;*/
  }
  /* ======================================================================
                           CONTACT PAGE
  ========================================================================= */
  #contact-main {
    margin-top: 10rem;
  }
  #contact-info,
  #about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-width: 75%;
    color: white;
    background-color: black;

    margin: 0 auto;
  }
  #contact-info .container-fluid,
  #about-info .container-fluid {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
  }
  #contact-info .container,
  #about-info .container {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
    margin: 0;

    justify-content: center;
    align-items: center;
  }
  .contact-h {
    color: #19b5fe;
    font-size: 2.5rem;
  }
  .location {
    font-size: 1rem;
  }
  .contact-email,
  .contact-social {
    color: #19b5fe;
  }
  .contact-gmail {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .contact-email {
    margin-bottom: 2rem;
  }
  .contact-social {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  .contact-default {
    color: white;
  }
  .contact-default:hover {
    color: #19b5fe;
    text-decoration: none;
  }
  .contact-default span {
    color: #19b5fe;
    font-size: 1.35rem;
  }
  .container .social {
    opacity: 1;
  }
  .container .social:hover {
    opacity: 0.65;
  }
  /* ======================================================================
                           ABOUT PAGE
  ========================================================================= */
  .about-h {
    color: #19b5fe;
    font-size: 2.5rem;
  }
  .about-p {
    max-width: 40rem;
    max-width: 90%;
    width: 90%;
    /*text-align: left;*/
    /*align-self: flex-start;*/
  }
  .about-p a {
    text-decoration: none;
  }
  .about-container {
    /*height: 25rem;*/
    align-items: flex-start;
  }
}

/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
*/










/**/
