/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* ADD PADDING SO THAT THE NAVBAR DOESNT COVER THE CONTENT */
  /*padding-top: */
}

nav {
  /*background-color: #343a40;*/
  background-color: black;
}
nav a {
  font-size: 1.5rem;
  color: #19b5fe;
  /*color: #1e90ff;*/
  /*color: #4874f7;*/
}
nav a:hover {
  color: white;
  color: #494949;
  color: #1986ba;
  /*color: white;*/
}
.navbar-brand {
  color: white;
}
.bg-dark {
  background-color: white;
}
nav .container {
  width: auto;
  width: 8.438em;
  padding-left: 0em;
  margin-left: 0em;

  color: white;
}
nav .navbar-collapse {

  justify-content: center;
  /*color: #19b5fe;*/
}

#navbarNavAltMarkup {
  /*width: auto;*/
  /*width: 200px;*/
}

main {
  margin-top: 68px;
  margin-top: 4.250em;
}














/**/
