/* ======================================================================
                         ABOUT PAGE
========================================================================= */
#about-main {
  margin-top: 6rem;
  padding-left: 0;
  padding-right: 0;
}
.about-h {
  color: $color-primary;
  font-size: 1.46rem;
  margin-bottom: 1rem;
}
.about-p {
  max-width: 90%;
  width: 90%;
  a {
    text-decoration: none;
  }
}

#contact-info .container-fluid.about-container,
#about-info .container-fluid.about-container {
  justify-content: center;
  align-items: flex-start;
}
.about-me {
  text-align: center;
}
/* ======================================================================
                        DESKTOPS
========================================================================= */
@include mq(large) {
  #about-main {
    height: auto;
    background-color: $color-bg-dark;
    margin-top: 10rem;
  }
  .about-h {
    color: $color-primary;
    font-size: 2.5rem;
  }
  .about-p {
    width: 90%;
    max-width: 90%;
    a {
      text-decoration: none;
    }
  }
  .about-container {
    align-items: flex-start;
  }
}






//
