/* ======================================================================
                         CONTACT PAGE
========================================================================= */
#contact-main {
  padding-left: 0;
  padding-right: 0;
  margin-top: 6rem;
}
#contact-info,
#about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  color: $color-text;
  background-color: $color-bg-dark;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}
#contact-info .container-fluid,
#about-info .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 0.5rem;
}
#contact-info .container,
#about-info .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.location {
  font-size: 0.95rem;
}

.contact {
  &-h {
    color: $color-primary;
    font-size: 1.5rem;
  }
  &-email {
    color: $color-primary;
    margin-bottom: 0.5rem;
  }
  &-gmail {
    color: $color-text;
    font-size: 1.5rem;
  }
  &-social {
    color: $color-primary;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &-default {
    color: $color-text;
    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
    span {
      color: $color-primary;
      font-size: 1.35rem;
    }
  }
}

.container .social {
  opacity: 1;
}
.container .social:hover {
  opacity: 0.65;
}

/* ======================================================================
                        DESKTOPS
========================================================================= */
@media (min-width: 992px) {
  #contact-main {
    margin-top: 10rem;
  }
  #contact-info,
  #about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 75%;
    color: $color-text;
    background-color: $color-bg-dark;
    margin: 0 auto;
  }
  #contact-info .container-fluid,
  #about-info .container-fluid {
    display: flex;
    flex-direction: row;

    margin-top: 4rem;
  }
  #contact-info .container,
  #about-info .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    max-width: 50%;
    margin: 0;
  }

  .contact {
    &-h {
      color: $color-primary;
      font-size: 2.5rem;
    }
    &-email {
      margin-bottom: 2rem;
    }
    &-gmail {
      margin-bottom: 0.5rem;
    }
    &-social {
      margin-top: 0rem;
      margin-bottom: 2rem;
    }
  }

  .location {
    font-size: 1rem;
  }
}





//
