/* ======================================================================
                         FOOTER
========================================================================= */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-bg-dark;
  padding-top: 2rem;
  margin-top: 2rem;
  h2 {
    color: $color-primary;
  }
  .navbar {
    height: 10rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
  }
}

a {
  &.social {
    display: inline-block;
    text-indent: -9999px;
    opacity: .4;
    transition: opacity .5s;

    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    margin-left: 1rem;
    margin-right: 1rem;
    &:hover {
      opacity: 1;
    }
  }
  &.twitter {
    background-image: url(../svgs/twitter.svg);
    background-repeat: no-repeat;
  }
  &.linkedin {
    background-image: url(../svgs/linkedin.svg);
    background-repeat: no-repeat;
  }
  &.github {
    background-image: url(../svgs/github.svg);
    background-repeat: no-repeat;
  }
}

.gmail {
  color: $color-text;
}





//
