/* ======================================================================
                        GENERAL STYLES
========================================================================= */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
html {
  height: 100%;
}
main {
  min-height: 100%;
  margin-top: 4.250em;
}
.contact-body {
  height: auto;
}
.highlight-light {
  color: $color-primary;
}
.highlight-dark {
  color: $color-link;
}
.btn {
  background-color: $color-bg-dark;
}
.tab-space {
  display: inline-block;

  min-width: 6.5rem;
  padding: 0;
  margin: 0;
}


// Adjusting the HTML to be the full height

// ABOVE/BELLOW
html {
  // background-color: red;
}
// ABOVE/BELLOW
body {
  // background-color: orange;
  background-color: $color-bg-light;
  // background-color: $blue-frame;
  // background-color: $blue-main;
  // background-color: $color-text;
  // background-color: $color-bg-dark;
}
// LEFT/RIGHT
main#contact-main,
main#about-main {
  // background-color: yellow;
}





/* ======================================================================
                        DESKTOPS
========================================================================= */
@media (min-width: 992px) {
  main {
    margin-top: 4.250em;
  }
}




//
